.title {
    color: var(--primary-color);
    font: var(--font-l);
}

.text {
    font: var(--font-m);
    color: var(--primary-color);
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}
