.popup {
    position: relative;
}

.menu {
    border-radius: 18px;
    border: 1px solid var(--accent-redesigned);
    overflow: hidden;
}

.trigger {
    margin: 0;
    padding: 0;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.active {
    background: var(--light-bg-redesigned);
}

.disabled {
    opacity: 0.7;
}

.optionBottomLeft {
    top: 100%;
    right: 0;
}

.optionBottomRight {
    top: 100%;
    left: 0;
}

.optionTopLeft {
    bottom: 100%;
    left: 0;
}

.optionTopRight {
    bottom: 100%;
    right: 0;
}
