.Dropdown {
    position: relative;
}

.btn {
    margin: 0;
    padding: 0;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    background: var(--card-bg);
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    position: absolute;
    z-index: 10000;
}

.item {
    width: 100%;
    padding: 10px 25px;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
}

.active {
    background: var(--inverted-primary-color);
}

.optionBottomLeft {
    top: 100%;
    right: 0;
}

.optionBottomRight {
    top: 100%;
    left: 0;
}

.optionTopLeft {
    bottom: 100%;
    left: 0;
}

.optionTopRight {
    bottom: 100%;
    right: 0;
}

